<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wp2telegram/src/main/scala/ca/wilmik/processor/ConvertWpSiteToTelegram.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.wilmik.processor.ConvertWpSiteToTelegram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc}/wp2telegram/src/test/resources/wp_export.xml ${workspace_loc}/site"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wp2telegram"/>
</launchConfiguration>
